*{
    margin: 0;
    padding: 0;
}

.portada{
    display: flex;
    align-items: center;
    justify-content: center;
    position: cover;
    width: 1400px;
}
.image_rotate {
    animation: rotation 2s infinite linear;
}

.rotate {
    animation: rotation 4s;
}
.linear {
    animation-timing-function: linear;
}
.infinite {
    animation-iteration-count: infinite;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.him{
    padding: 30px;
    background-color: aliceblue;
}

.videos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #326294;
}
iframe{
    border-radius: 45px;
}