footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  color: aliceblue;
  padding: 20px;
  justify-content: space-around;
}

hr {
  width: 80px;
  position: cover;
  transform: rotate(90deg);
}

.ok {
  display: flex;
  align-items: center;
}


.red{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 }
 span{
  opacity: 0.6;
}
.icons{
  display: flex;
  flex-direction: row;
}
.cont{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}