.fixedBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  .fixedTop {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .stickyTop {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
  }